* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#irll {
    background-color: #cefad0;
}

#ievw {
    padding: 10% 10% 10% 10%;
    height: auto;
}

#itwl {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 700;
}

#ikjk {
    height: 350px;
    width: 615px;
}

#irah {
    padding: 10px;
    text-align: center;
    margin: 5% 0px 5px 0px;
    letter-spacing: 1.5px;
}

#irg1l {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#i2fji {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#iclay {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#i8e68 {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#iywoh {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#iof13 {
    display: flex;
    justify-content: flex-end;
}

#ip3nm {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #000000;
    color: white;
    margin: 0px 10px 0px 10px;
}

#inm6u {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: white;
    box-shadow: 0 0 5px 0 black;
}

#i552d {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#iz5k8 {
    flex-basis: 70%;
}

#i1i2ii {
    margin-top: 100px;
}

#i1zer {
    color: black;
    width: 50px;
}

#ioeaj {
    padding: 10px;
}

#i2f2k {
    padding: 10px;
}

#id0hg {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#i39k4j {
    background-color: black;
    padding: 5% 10% 5% 10%;
    position: absolute;
    width: 100%;
}

#i3cart {
    flex-basis: 139%;
}

#iykjgo {
    padding: 10px;
    color: white;
}

#ilfzer {
    padding: 10px;
    color: white;
}

#i2twsw {
    padding: 10px;
    color: white;
}

#imwunj {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#irf1pp {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#ispctj {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#ip0jb2 {
    flex-basis: 91%;
}

#ictk0r {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#iqdwqg {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#i805n1 {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#ibix5p {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#i76fsn {
    color: black;
    width: 102px;
}

#i7rn02 {
    justify-content: center;
    align-items: stretch;
}

#iwo1is {
    justify-content: space-around;
}

#io8bj3 {
    color: black;
    width: 50px;
    margin: 10px 10px 10px 10px;
}

#iuadp9 {
    color: black;
    width: 50px;
    margin: 10px 10px 10px 10px;
}

#ic8w0z {
    color: black;
    width: 50px;
    margin: 10px 10px 10px 10px;
}

#i8dh71 {
    color: black;
    width: 50px;
    margin: 10px 10px 10px 10px;
}

#izfjkx {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #000000;
    color: white;
    margin: 0px 10px 0px 10px;
}

#iejhii {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#iqmhge {
    color: black;
    width: 50px;
}

#ifq4hb {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icta8q {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#im6dti {
    padding: 10px;
}

#i1gw3m {
    padding: 10px;
}

#iis31n {
    flex-basis: 70%;
}

#ijptj5 {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: #cefad0;
    border: 4px solid black;
    height: auto;
}

#igw8rd {
    color: black;
    width: 50px;
}

#in5qrh {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#inmvnl {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#iolnvk {
    padding: 10px;
}

#iuxfa1 {
    padding: 10px;
}

#idyztd {
    flex-basis: 70%;
}

#iqk2lg {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: #cefad0;
    border: 4px solid black;
    height: auto;
}

#ikbehk {
    color: black;
    width: 50px;
}

#ih2o79 {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#i7n0w1 {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#i2ijrb {
    padding: 10px;
}

#igviej {
    padding: 10px;
}

#ikt27t {
    flex-basis: 70%;
}

#ixjisk {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: #cefad0;
    border: 4px solid black;
    height: auto;
}

#i96zyw {
    color: black;
    width: 50px;
}

#i9e0fg {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ipqs2g {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#ithndc {
    padding: 10px;
}

#ih225p {
    padding: 10px;
}

#ij6mqd {
    flex-basis: 70%;
}

#iw827r {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: #cefad0;
    border: 4px solid black;
    height: auto;
}

#i1dy7u {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#il2f4y {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #000000;
    color: white;
    margin: 0px 10px 0px 10px;
}

#ix59ws {
    display: flex;
    justify-content: flex-end;
}

#i7q442 {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #000000;
    color: white;
    margin: 0px 10px 0px 10px;
}

#idft2n {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10% 0px 10%;
}

#ikvhgt {
    display: flex;
    justify-content: flex-end;
}

#iv18x6 {
    color: black;
    width: 500px;
    border-radius: 50px;
    box-shadow: 0 0 5px 0 black;
}

#i6lqx7 {
        justify-content: center;
    }

#ixemdf {
    background-color: white;
    box-shadow: 0px 0px 10px 0px black;
}

@media (max-width: 992px) {
    #ikjk {
        width: 355px;
        height: 378px;
    }

    #itzz {
        height: 401px;
    }

    #itoq {
        flex-basis: 145%;
    }

    #ik0y {
        flex-basis: 79%;
    }
}

@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }

    #ikjk {
        width: 431px;
    }
}

@media (max-width: 480px) {
    #ifq4hb {
        flex-basis: 1%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #itwl {
        font-size: 50px;
        text-align: center;
    }

    #ikjk {
        width: auto;
        height: auto;
    }

    #ievw {
        height: auto;
    }

    #itoq {
        flex-basis: 115%;
    }

    #irah {
        letter-spacing: 0px;
    }

    #iof13 {
        justify-content: space-around;
        align-items: stretch;
    }

    #io8bj3 {
        width: 35px;
    }

    #i8dh71 {
        width: 40px;
    }

    #ic8w0z {
        width: 35px;
    }

    #iuadp9 {
        width: 35px;
    }

    #itzz {
        height: auto;
    }

    #iinqu {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #ijptj5 {
        height: auto;
    }

    #iqk2lg {
        height: auto;
    }

    #ixjisk {
        height: auto;
    }

    #iw827r {
        height: auto;
    }

    #ix59ws {
        justify-content: space-around;
        align-items: center;
    }

    #i5c9ob {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #iv18x6 {
        width: 215px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #i6lqx7 {
        justify-content: center;
    }

    #isyjva {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ikvhgt {
        justify-content: center;
        align-items: center;
    }

    #i1br2l {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}