body,
html {
    margin: 0;
    font: caption;
    height: 100%;
}

/* Theming */
.gjs-one-bg {
    background-color: black !important;
}

.gjs-two-color {
    color: white !important;
}

.gjs-three-bg {
    background-color: #4CAF50 !important;
    color: white !important;
}

.gjs-four-color,
.gjs-four-color-h:hover {
    color: #4CAF50 !important;
}

/* Style manager properties*/
.gjs-sm-properties {
    font-size: 20px;
}

.gjs-pn-panel {
    font-size: 20px;
}

.gjs-block {
    font-size: 1px;
}

.button,
.button:hover {
    background-color: white; /* Green */
    border: none;
    color: #4CAF50;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

