body,
html {
    margin: 0;
    font: caption;
    height: 100%;
}

/* Theming */
.gjs-one-bg {
    background-color: black !important;
}

.gjs-two-color {
    color: white !important;
}

.gjs-three-bg {
    background-color: #1E8FE1 !important;
    color: white !important;
}

.gjs-four-color,
.gjs-four-color-h:hover {
    color: #1E8FE1 !important;
}

/* Style manager properties*/
.gjs-sm-properties {
    font-size: 20px;
}

.gjs-pn-panel {
    font-size: 20px;
}

.gjs-block {
    font-size: 1px;
}

.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
}

.panel__basic-actions {
    position: initial;
}