* {
    box-sizing: border-box;
}

a:hover {
    color: #51ef59 !important; 
}

.fonttick {
    font-size: 1.5rem; 
    color: #51ef59;
    margin-right: 10px;
}

RouterLink:hover {
    color: #51ef59 !important; 
}

body {
    margin: 0;
}

.bg-custom {
    background-color: #000000
}

.navbar-custom a {
    color: white;
    margin: 10px;
}

.navbar-custom RouterLink {
    color: white;
    margin: 10px;
}

.footer-link a {
    color: white;
    text-decoration: none;
}

.footer-link RouterLink {
    color: white;
    text-decoration: none;
}

.dropdown-menu a {
    color: black;
}

.dropdown-menu RouterLink {
    color: black;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#irll {
    background-color: #cefad0;
}

#ievw {
    padding: 10% 10% 10% 10%;
    background-color: #000000;
}

#itwl {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 5vw;
    font-weight: 700;
    color: white;
    text-align: center;
}
.container-fluid img{
    width:50px;
    height:30px;
}

.text-wh {
    color: white;
}
  
.plans {
    margin: 3%;
    text-align: center;
}

#itwn {
    padding-top: 5%;
    padding-bottom: 2%;
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
    text-align: center;
}

.itwn-text {
    font-family: Helvetica, sans-serif;
    text-align: center; 
    margin-bottom: 4%;
}

.custom-body {
    background-image: url('../img/peppu-background.jpg');
}

.full-body {
    height: 80vh;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(81, 239, 89, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
  .custom-toggler.navbar-toggler {
    border-color: #51ef59;
  } 

#ikjk {
    box-shadow: 0px 0px 5px 0px #e6dbdb;
    width: 50vw;
    height: 50vh;
}

#irah {
    padding: 10px;
    text-align: center;
    margin: 5% 0px 5px 0px;
    letter-spacing: 1.5px;
    color: white;
}

#irg1l {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#i2fji {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#iclay {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#i8e68 {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#iywoh {
    font-family: Georgia, serif;
    font-size: 20px;
    text-align: center;
}

#inm6u {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: white;
    box-shadow: 0 0 5px 0 black;
}

#i552d {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#iz5k8 {
    flex-basis: 70%;
}

#i1zer {
    color: black;
    width: 50px;
}

#ioeaj {
    padding: 10px;
}

#i2f2k {
    padding: 10px;
}

#id0hg {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#i39k4j {
    background-color: black;
    padding: 5% 10% 5% 10%;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    box-shadow:0px 0px 5px 0px  white inset;
}

#i3cart {
    flex-basis: 139%;
}

#iykjgo {
    padding: 10px;
    color: white;
}

#ilfzer {
    padding: 10px;
    color: white;
}

#i2twsw {
    padding: 10px;
    color: white;
}

#imwunj {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#irf1pp {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#ispctj {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#ip0jb2 {
    flex-basis: 91%;
}

#ictk0r {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#iqdwqg {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#i805n1 {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#ibix5p {
    padding: 10px;
    color: white;
    font-family: Courier New, Courier, monospace;
    font-weight: 400;
}

#i76fsn {
    color: black;
    width: 102px;
}

#i7rn02 {
    justify-content: center;
    align-items: stretch;
}

#iwo1is {
    justify-content: space-around;
}

#io8bj3 {
    color: black;
    width: 50px;
    margin: 10px 10px 10px 10px;
}

#iuadp9 {
    color: black;
    width: 50px;
    margin: 10px 10px 10px 10px;
}

#ic8w0z {
    background-color: white;
    width: 50px;
    margin: 10px 10px 10px 10px;
    border-radius: 50%;
}

#i8dh71 {
    color: black;
    width: 50px;
    margin: 10px 10px 10px 10px;
}

#iejhii {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    color: white;
}

#iqmhge {
    color: black;
    width: 50px;
}

#ifq4hb {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icta8q {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#im6dti {
    padding: 10px;
}

#i1gw3m {
    padding: 10px;
}

#iis31n {
    flex-basis: 70%;
}

#ijptj5 {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: #cefad0;
    border: 4px solid black;
}

#igw8rd {
    color: black;
    width: 50px;
}

#in5qrh {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#inmvnl {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#iolnvk {
    padding: 10px;
}

#iuxfa1 {
    padding: 10px;
}

#idyztd {
    flex-basis: 70%;
}

#iqk2lg {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: #cefad0;
    border: 4px solid black;
}

#ikbehk {
    color: black;
    width: 50px;
}

#ih2o79 {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#i7n0w1 {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#i2ijrb {
    padding: 10px;
}

#igviej {
    padding: 10px;
}

#ikt27t {
    flex-basis: 70%;
}

#ixjisk {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: #cefad0;
    border: 4px solid black;
}

#i96zyw {
    color: black;
    width: 50px;
}

#i9e0fg {
    flex-basis: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#ipqs2g {
    background-color: rgba(80, 151, 255, 0.18);
    color: rgb(4, 12, 40);
    font-family: "Google Sans", arial, sans-serif;
    font-size: 20px;
}

#ithndc {
    padding: 10px;
}

#ih225p {
    padding: 10px;
}

#ij6mqd {
    flex-basis: 70%;
}

#iw827r {
    border-radius: 15px;
    margin: 5% 5% 5% 5%;
    background-color: #cefad0;
    border: 4px solid black;
}

#i1dy7u {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 5% 0px 5% 0px;
}

#il2f4y {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #000000;
    color: white;
    margin: 0px 10px 0px 10px;
}

#ix59ws {
    display: flex;
    justify-content: flex-end;
}

#i7q442 {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #000000;
    color: white;
    margin: 0px 10px 0px 10px;
}

#idft2n {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 2vw;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10% 0px 10%;
}

#ikvhgt {
    display: flex;
    justify-content: flex-end;
}

#iv18x6 {
    color: black;
    width: 500px;
    border-radius: 50px;
    box-shadow: 0 0 5px 0 black;
}

#ixemdf {
    background-color: white;
    box-shadow: 0px 0px 10px 0px black;
}

#ibtf31 {
    color: black;
    width: 40vw;
}

#if7yqy {
    padding: 2% 2% 2% 2%;
    border-radius: 20px;
    border: 10px groove #008000;
}

#iovt3j {
    display: flex;
    justify-content: center;
    align-items: center;
}

#idn5fk {
    display: flex;
    justify-content: center;
    align-items: center;
}

#iijd1h {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #000000;
    color: white;
    margin: 0px 10px 0px 10px;
}

#ihjvdl {
    display: flex;
    justify-content: flex-end;
}

#igkwzh {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid white;
    background-color: #000000;
    color: white;
    margin: 0px 10px 0px 10px;
}

#ip3mx {
    display: flex;
    justify-content: center;
}

#ifxq72 {
    border-radius: 10px;
    background-repeat: repeat;
    background-position: left top;
    background-attachment: scroll;
    background-size: auto;
    background-image: linear-gradient(to right, #e2efcc 0%, white 100%);
}

#iu2c7g {
    padding: 10px;
    font-family: Helvetica, sans-serif;
    font-size: 3vw;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 10% 0px 10%;
}

#ibxomr {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 5px solid green;
    background-color: #000000;
    color: white;
    margin: 0px 10px 0px 10px;
}

#i1ka2z {
    display: flex;
    justify-content: center;
}

@media (max-width: 992px) {
    #ik0y {
        flex-basis: 79%;
    }

    #ievw {
        padding: 5% 5% 5% 5%;
    }
}

@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }

    #ikjk {
        width: auto;
        height: auto;
    }

    #ievw {
        padding: 2% 2% 2% 2%;
    }

    #irah {
        letter-spacing: normal;
    }

    #itwl {
        font-size: 8vw;
        text-align: center;
    }

    #ihjvdl {
        justify-content: center;
    }

    #iolmp2 {
        display: flex;
        justify-content: space-around;
    }

    #ix59ws {
        justify-content: center;
    }

    #i5c9ob {
        display: flex;
        justify-content: center;
    }

    #iejhii {
        font-size: 5vw;
    }

    #i1dy7u {
        font-size: 5vw;
    }

    #i1ka2z {
        justify-content: center;
    }
}

@media (max-width: 480px) {
    #itwl {
        font-size: 50px;
        text-align: center;
    }

    #ikjk {
        width: auto;
        height: auto;
    }

    #ievw {
        height: auto;
    }

    #irah {
        letter-spacing: 0px;
    }

    #io8bj3 {
        width: 35px;
    }

    #i8dh71 {
        width: 40px;
    }

    #ic8w0z {
        width: 35px;
    }

    #iuadp9 {
        width: 35px;
    }

    #itzz {
        height: auto;
    }

    #ijptj5 {
        height: auto;
    }

    #iqk2lg {
        height: auto;
    }

    #ixjisk {
        height: auto;
    }

    #iw827r {
        height: auto;
    }

    #ix59ws {
        justify-content: space-around;
        align-items: center;
    }

    #i5c9ob {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #iv18x6 {
        width: 215px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #isyjva {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #ikvhgt {
        justify-content: center;
        align-items: center;
    }

    #ihjvdl {
        justify-content: space-around;
        align-items: stretch;
    }

    #iolmp2 {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #iejhii {
        font-size: 7vw;
    }

    #i1dy7u {
        font-size: 7vw;
    }

    #i1ka2z {
        justify-content: space-around;
        align-items: center;
    }
}

.gjs-row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
  }
  .gjs-cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #i49vdw{
    background-color:#000000;
    padding:10% 10% 10% 10%;
  }
  #ibtuqa{
    text-align:center;
    color:white;
    font-family:Helvetica, sans-serif;
    font-size:5vw;
    padding:3vh 10px 10px 10px;
    text-shadow:1px 1px 1px white;
  }
  #ifx7ys{
    padding:10px 10px 10px 10px;
    width:300px;
    font-family:Helvetica, sans-serif;
    font-size:18px;
    border-radius:10px;
    border:5px solid white;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(to right, #88c435 0%, #395617 100%);
  }

  .imgb {
    border: 3px groove #008000;
  }

  #i8zzei{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:50px;
  }
  #ibgbhm{
    padding:10px 10px 10px 10px;
    width:300px;
    font-family:Helvetica, sans-serif;
    font-size:18px;
    border-radius:10px;
    border:5px solid white;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(to right, #88c435 0%, #395617 100%);
  }
  #i8d5hc{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:50px;
  }
  #iyb74l{
    padding:10% 10px 10px 10px;
    margin:0px 0px 10vh 0px;
  }
  #ix1mmp{
    text-align:center;
    font-family:Helvetica, sans-serif;
    font-size:4vw;
    text-shadow:1px 1px 1px white;
    color:white;
  }
  #i78qwy{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  #ipq7qa{
    display:flex;
    justify-content:space-around;
    align-items:center;
  }
  #ileg8l{
    background-color:white;
    border-radius:20px;
  }
  #i7x9ek{
    padding:10px;
    font-family:Helvetica, sans-serif;
  }
  #ibpoiu{
    color:black;
    width:100px;
  }
  #i7vbfg{
    padding:10px 10px 10px 10px;
    width:300px;
    font-family:Helvetica, sans-serif;
    font-size:18px;
    border-radius:10px;
    border:5px solid black;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(to right, #88c435 0%, #395617 100%);
  }
  #ilg1yb{
    justify-content:center;
    align-items:center;
    min-height:50px;
  }
  #iqv0jq{
    padding:10px 10px 10px 10px;
    width:300px;
    font-family:Helvetica, sans-serif;
    font-size:18px;
    border-radius:10px;
    border:5px solid white;
    background-repeat:repeat;
    background-position:left top;
    background-attachment:scroll;
    background-size:auto;
    background-image:linear-gradient(to right, #88c435 0%, #395617 100%);
  }
  #igazpu{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:50px;
  }
  @media (max-width: 992px){
    #ibtuqa{
      padding:5% 10px 5% 10px;
    }
    #ix1mmp{
      padding:5% 10px 5% 10px;
    }
    #ibpoiu{
      width:150px;
    }
  }
  @media (max-width: 768px){
    .gjs-row{
      flex-wrap:wrap;
    }
    #ibtuqa{
      font-size:8vw;
    }
    #ix1mmp{
      font-size:8vw;
    }
  }
  @media (max-width: 480px){
    #ibtuqa{
      font-size:50px;
      padding:10vh 10px 5% 10px;
    }
    #ifx7ys{
      width:230px;
    }
    #ibgbhm{
      width:230px;
    }
    #iyb74l{
      padding:10vh 5px 10px 5px;
      margin:0px 0px 10vh 0px;
    }
    #i49vdw{
      padding:10% 5% 10% 5%;
    }
    #ix1mmp{
      font-size:25px;
      padding:10px 10px 5% 10px;
      text-shadow:0px 0px 0px black;
    }
    #ileg8l{
      margin:0px 0px 0px 0px;
      padding:0px 0px 0px 0px;
    }
    #i7vbfg{
      width:230px;
    }
    #iqv0jq{
      width:230px;
    }
  }
  .div {
    position: relative;
    display: inline-block;
  }

  .c-height {
    height: 480px;
  }

  .link {
    color: black !important;
  }